PIPELINE_ROOT: gs://${PIPELINE_ROOT_BUCKET}/pipeline-root/${MODEL_NAME}
PIPELINE_NAME: ${MODEL_NAME}
BASE_IMAGE: ${PIPELINE_BASE_IMAGE}
GCP_PROJECT: ${GCP_PROJECT}
GCP_REGION: ${GCP_REGION}
MODEL_ENDPOINT_MACHINE_TYPE: ${MODEL_ENDPOINT_MACHINE_TYPE}
GCP_SERVICE_ACCOUNT: ${GCP_SERVICE_ACCOUNT}

